name: ci
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        compiler:
          - ghc8104
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.0.2
        name: Checkout
      - uses: cachix/install-nix-action@v17
        name: Install Nix
      - uses: cachix/cachix-action@v10
        name: Set up Cachix
        with:
          name: awakesecurity
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix-build --attr proto3-suite --argstr compiler "${{ matrix.compiler }}" --arg enableDhall true
