name: ci
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        compiler:
          - ghc902
          - ghc928
          - ghc948
          - ghc962
          - ghc981
        dhall:
          - false
          - true
        swagger:
          - false
          - true
        swaggerWrapper:
          - false
          - true
        largeRecords:
          - false
          - true
        exclude:
          - swagger: false
            swaggerWrapper: true
          - compiler: ghc962
            largeRecords: true
          - compiler: ghc981
            largeRecords: true
          - compiler: ghc981
            dhall: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.5.3
        name: Checkout
      - uses: cachix/install-nix-action@v22
        name: Install Nix
      - uses: cachix/cachix-action@v12
        name: Set up Cachix
        with:
          name: awakesecurity
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix-build --attr proto3-suite --argstr compiler "${{ matrix.compiler }}" --arg enableDhall "${{ matrix.dhall }}" --arg enableSwagger "${{ matrix.swagger }}" --arg swaggerWrapperFormat "${{ matrix.swaggerWrapper }}" --arg enableLargeRecords "${{ matrix.largeRecords }}"
